report/report.log
report/report.aux
report/report.toc
report/report.synctex.gz
report/reportNewDesign.aux
report/reportNewDesign.log
report/reportNewDesign.synctex.gz
report/reportNewDesign.toc
build/
GUI/build/
GUI/dist/
testData/testOutput/
.vscode/settings.json
libVid2Photogrammetry/.vscode/settings.json
GUI/vid2photogrammetryGUI.spec
