report/report.log
report/report.aux
report/report.toc
report/report.synctex.gz
report/reportNewDesign.aux
report/reportNewDesign.log
report/reportNewDesign.synctex.gz
report/reportNewDesign.toc
build/
GUI/build/
GUI/dist/
testData/testOutput/
.vscode/settings.json
libVid2Photogrammetry/.vscode/settings.json
GUI/vid2photogrammetryGUI.spec
pybind11/Makefile
pybind11/CMakeFiles/progress.marks
pybind11/CMakeFiles/CMakeDirectoryInformation.cmake
pybind11/cmake_install.cmake
pybuild/
libVid2Photogrammetry/src/.vscode/settings.json
