report/report.log
report/report.aux
report/report.toc
report/report.synctex.gz
report/reportNewDesign.aux
report/reportNewDesign.log
report/reportNewDesign.synctex.gz
report/reportNewDesign.toc
build/
.vscode/settings.json
